body,
html {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.simple_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid black;
  width: auto;
}
.desafio h1 {
  background-color: black;
  padding: 20px 10px;
  color: white;
  border-radius: 20px;
}
#click-indicativo {
  text-align: center;
}
.desafio {
  margin: 0 10px;
}
footer {
  border: 2px solid black;
  text-align: center;
}

/* css desafio 1 */
.imagen {
  text-align: center;
  margin: 20px 0;
}
#textoborde {
  text-align: center;
}

/* css desafio 2 */
.containerimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.img-input {
  display: flex;
  flex-direction: column;
}
input {
  margin: 15px 0;
}
.parrafo-btn {
  text-align: center;
}
#btn {
  padding: 10px 30px;
  margin-bottom: 20px;
}
.h3desafio2 {
  text-align: center;
}

/* css desafio 3 */
.card {
  text-align: center;
  border: 2px solid tomato;
  height: 200px;
  width: 400px;
  margin: 20px auto;
}
